<br/>
<div class="col-md-10 col-centered">
    <div class="panel padding20">
      <div class="panel-body">
        <div class="pull-center">
            
            <a href="<%= new_manager_todo_path %>"><img src="/assets/todo_create2.png" width="160" class="btn"></a> 
            <a href="<%= edit_index_manager_todos_path %>"><img src="/assets/todo_edit2.png" width="160" class="btn"></a> 
            <a href="<%= report_search_manager_todos_path %>"><img src="/assets/todo_report2.png" width="160" class="btn"></a> 
        </div>
      </div>
    </div>
</div>

<!-- Scripts and styles -->
<script>
    $(function(){
        $("#slogan").html("TODO");
        
    })
</script>

<style>
.btn {
    margin-left: 15px;
    margin-top: 15px;
}
</style>