<br/>
<div class="col-md-5">
    <div class="pull-center">
        <a href="/manager/todos"><img src="/assets/todo_list_icon.png" width="160" class="btn"></a> <img src="/assets/calendar_icon.png" width="160" class="btn">
    </div>
    <div class="pull-center">
        <img src="/assets/messages_icon.png" width="160" class="btn"> <img src="/assets/attendance_icon.png" width="160" class="btn">
    </div>
    <div class="pull-center">
        <img src="/assets/medication_icon.png" width="160" class="btn"> <img src="/assets/intolerance_icon.png" width="160" class="btn">
    </div>
    <div class="pull-center" style="padding-right: 180px;">
        <img src="/assets/allergy_icon.png" width="160" class="btn">
    </div>
</div>

<div class="col-md-7" style="background-color: #fff; padding:0px; margin-top: 15px;">
    <div style="background-color: #eaeaea; padding:5px;">Notification</div>
    <br/>
    <div class="col-md-1 pull-center"><img src="/assets/todo_small.png"></div>
    <div class="col-md-11" style="padding: 10px;">Todo List<hr/></div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="col-md-1 pull-center"><img src="/assets/messages_small.png"></div>
    <div class="col-md-11" style="padding: 10px;">Messages<hr/></div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

</div>

<br class="clear"/><br/><br/><br/>
<!-- Scripts and styles -->
<script>
    $(function(){
        $("#slogan").prepend("HOME");
    })
</script>
<style>
body {
    background-color: #f1f1f1;
}
.btn {
    margin-left: 15px;
    margin-top: 15px;
}
.left {
    float: left;
}
</style>