<br/>
<div class="col-md-6 col-centered">
  <div class="panel padding20">
    <div class="panel-body">
      <div class="pull-center">
        <a href="/customers/new"><img src="/assets/single-customer-icon.gif" class="linksSpace top7" width="150"></a>
        <a href="/customers/import_new"><img src="/assets/multiple-customer-icon.gif" class="linksSpace top7" width="150"></a>
      </div>
    </div>
  </div>
</div>

<!-- Scripts and styles -->
<script>
    $(function () {
        $("#slogan").html("ADD CUSTOMERS");
    })
</script>

<style>
    #topbar {
        background-color: #ef5b50;
    }
</style>