<br/>
<h3 class="pull-center">Edit Functionalities</h3>
<br/>
<div class="col-md-6 col-centered">
  <div class="panel padding20">
    <div class="panel-body">
      <div class="pull-center">

        <a href="<%= allergies_path %>"><img src="/assets/allergy-icon.gif" class="linksSpace" width="150"></a>
        <a href="<%= todos_path %>"><img src="/assets/to-do-icon.gif" class="linksSpace" width="150"></a>
      </div>
    </div>
  </div>
</div>

<!-- Scripts and styles -->
<script>
    $(function () {
        $("#slogan").html("FUNCTIONALITY");
    })
</script>

<style>
    #topbar {
        background-color: #1f80b7;
    }
</style>