<h1 class="pull-center white headerMargin">Daycare <span class="nonBold">Super Admin Panel</span></h1>

<div class="col-md-5 col-centered">
    <div class="panel panel-default padding20">
      <div class="panel-body">
        <div class="pull-center">
            <img src="/assets/Daycare-logo.gif" class="img-responsive">
            <br/><br/>
            
            <form method="post" action="/login">
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                <div class="form-group">
                  <input type="text" placeholder="Email" id="txtEmail" name="txtEmail" class="form-control" required>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" id="txtPassword" name="txtPassword" class="form-control" required>
                </div>
                
                <button type="submit" class="btn btn-success btn-green" style="width: 100%">LOG IN</button>
              </form>

          </div>
      </div>
    </div>
</div>

              <div class="pull-center">
                  <a href="#" data-toggle="modal" data-target="#passwordModal" style="color:white;">forgot password</a>
              </div>
              <br /><br />

<!-- Forgot Password Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form accept-charset="UTF-8" action="/forgot_password" method="post" role="form">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Forgot password</h4>
            
            </div>
            <div class="modal-body">
                
            		  <div class="form-group">
                          <label for="email">Your email</label>
                          <input class="form-control" id="email" name="email" type="text" />
                      </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input class="btn btn-primary pull-right" name="commit" type="submit" value="Submit" />
            </div>
            
</form>        </div>
    </div>
</div>

<!-- Scripts and styles -->
<script>
$(function(){
    $("#topbar").hide();
});
</script>
<style>
body {
    background-color: #ea5b0c;
    background-image: url('/assets/main-background.gif');
    
}
</style>