<h1 class="pull-center white headerMargin"><span class="nonBold">Reset your password</span></h1>

<div class="col-md-5 col-centered">
    <div class="panel panel-default padding20">
      <div class="panel-body">
        <div>
            
            <form method="post" action="/password_reset">
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                <input name="email" type="hidden" value="<%= params["email"] %>" />
                <input name="token" type="hidden" value="<%= params["token"] %>" />
                
                <div class="form-group">
                <label for="admin_password">Password</label>
                <input class="form-control" id="password" name="password" type="password" />
                </div>
        
                <div class="form-group">
                <label for="admin_password_confirmation">Password confirmation</label>
                <input class="form-control" id="password_confirmation" name="password_confirmation" type="password" />
                </div>
                
                <br/>
                  <div class="pull-center">
                  <input class="btn btn-primary pull-center" name="commit" type="submit" value="Save changes" />
                  </div>
              </form>
          </div>
      </div>
    </div>
</div>


<!-- Scripts and styles -->
<script>
$(function(){
    $("#topbar").hide();
});
</script>
<style>
body {
    background-color: #ea5b0c;
    background-image: url('/assets/main-background.gif');
    
}
</style>