<br/>
<h3 class="pull-center">Customer To Do</h3>
<br/>
<div class="col-md-6 col-centered">
    <div class="panel padding20">
      <div class="panel-body">
        <div class="pull-center">
            
            <a href="<%= new_todo_path %>"><img src="/assets/todo-create-icon.gif" class="linksSpace" width="125"></a> 
            <a href="<%= edit_search_todos_path %>"><img src="/assets/todo-edit-icon.gif" class="linksSpace" width="125"></a> 
            <a href="<%= report_search_todos_path %>"><img src="/assets/todo-report-icon.gif" class="linksSpace" width="125"></a>
        </div>
      </div>
    </div>
</div>

<!-- Scripts and styles -->
<script>
    $(function(){
        $("#slogan").html("FUNCTIONALITY");
        
    })
</script>

<style>
#topbar {
    background-color: #bd2926;
}
.todo {
	background-color: #f9f9f9;
	border: 1px solid #dddddd;
	box-shadow: 0 0 10px rgba(185,185,185,0.5);
}
</style>