<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default">
		<div class="panel-heading">
		  <h4>Add and Edit Allergy</h4>
  		</div>

		<div class="panel-body pull-center">
            
            
            <br/><br/>
            <a href="<%= new_allergy_path %>" class="btn btn-primary">Add new Allergy</a>
        </div>
      </div>
    </div>
</div>

<!-- Scripts and styles -->
<script>
    $(function(){
        $("#slogan").html("FUNCTIONALITY");
        
    })
</script>

<style>
#topbar {
    background-color: #bd2926;
}
</style>