@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: Helvetica;
}

.white {
    color: #fff;
}

.red {
    color: #a94442;
}

a:hover.white {
    color: #fff;
}

.nonBold {
    font-weight: 100;
}

.pull-center {
     text-align: center;
}

.headerMargin {
    margin-top: 100px;
    margin-bottom: 60px;
}

.padding20 {
    padding: 20px;
}

.top7 {
    margin-top: 7px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.homeHeader {
    background-color: #ea5b0c;
}

.navbar-header {
    padding-top: 7px;
}

.maxWidth {
    width:100%;
}

.linksSpace {
    margin-left:5px;
}

.floatLeft {
    float:left;
}

.clear {
    clear:both;
}

.table
{
    display: table;
}

.cell
{
    display: table-cell;
    vertical-align: middle;
}