@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: Helvetica;
}

.white {
    color: #fff;
}

.nonBold {
    font-weight: 100;
}

.pull-center {
     text-align: center;
}

.headerMargin {
    margin-top: 100px;
    margin-bottom: 60px;
}

.padding20 {
    padding: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}